<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scrapper</title>
</head>
<body>
    <form action="/scrap">
        <center>
            <table>
                <tr>
                    <td>
                        <input type="submit" value="copiar" />
                    </td>
                    <td>
                        <img src="/static/site_fazenda_sp_atos.png" width="800px" height=400px"/>
                    </td>
                </tr>
            </table>
        </center>
    </form>

</body>
</html>